<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi aplicación de e-commerce</title>
    </head>
<body>
    <header>
        <h1>Bienvenido a la tienda!</h1>
        <nav>
            <a href="/">Home</a> |
            <a href="/realtimeproducts">Productos en tiempo real</a>
        </nav>
    </header>

    <main>
        {{{body}}}  </main>

    <footer>
        <p>&copy; 2025 Mi Tienda. Todos los derechos reservados.</p>
    </footer>

    </body>
</html>